<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>

    <main>
        <h2 style="text-align: center; "><%= title %></h2>
       
    </main>

    <script src="../js/game.js"></script>
</body>
</html>
