<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>

    <main class="page-sucesso">
        <h2><%= title %></h2>
        <p>Parabéns! Você completou o jogo com sucesso.</p>
        <a href="/" class="btn">Voltar ao Início</a>
    </main>

</body>
</html>
