<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>

    <main class="page-sucesso">
        <h2><%= title %></h2>
        <p><%= addedCount %> palavra(s) criadas com sucesso!</p>
        <a href="/" class="btn">Voltar ao Início</a> <br>
        <a href="/createWord" class="btn">Criar Nova Palavra</a>
    </main>

</body>
</html>
