<header >
    <a href="/"><h1>Match Game</h1></a>

    <div  style="display: flex; justify-content: space-between;">
        <nav>
            <a href="/createWord">Create Word</a>
        </nav>
        <nav>
            <a href="/game">Jogo de Associação</a>
            <a href="/spelling">Jogo de Ditado</a>
            <a href="/spellingAudio">Jogo de Fala</a>
        </nav>
    </div>

</header>

