<header >

    <div  style="display: flex; justify-content: space-between;">
        <nav>
            <a href="/createWord">Create</a>
        </nav>
        <div class="nav2">
            <a href="/game">Associação</a>
            <a href="/spelling">Ditado</a>
            <a href="/spellingAudio">Fala</a>
        </div>
    </div>

</header>

